<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/index.css}" rel="stylesheet" />
</head>

<body class="body">
<header class="head">
    <div style="float: right;margin-right: 0;margin-top: 0">
        <th:block th:if="${session.username}==null">
            <a href="/login" th:href="@{/login}">登录</a>
        </th:block>
        <th:block th:if="${session.username}!=null">
            <th:block th:if="${session.iden}=='iden_admin'">
                <div>
                    <span th:text="${session.username}"></span>您好，
                    <a href="/manage" th:href="@{/templates/manage}">管理</a>
                    <a th:href="@{/logout}">退出</a>
                </div>
            </th:block>
        </th:block>
    </div>
</header>
<nav class="nav">
    <ul>
        <li><a href="/" th:href="@{/}">首页</a></li>
        <li><a href="/" th:href="@{/department}">学院</a></li>
        <li><a href="/" th:href="@{/search}">查看所有留言</a></li>
        <li style="float: right">
            <input type="text" id="searchParam" name="search">
            <select name="searchType" id="searchType">
                <option></option>
                <option>学院</option>
                <option>专业</option>
                <option>课程</option>
                <option>教师</option>
                <option>内容</option>
            </select>
            <button id="searchButton">搜索</button>
        </li>
    </ul>
</nav>
<div class="content">
    <section class="left">
        <ul>
            <li><a id="deptManage" th:href="@{/manage/dept}">学院信息管理</a></li>
            <li><a id="courseManage" th:href="@{/manage/course}">课程信息管理</a></li>
            <li><a id="teacherManage" th:href="@{/manage/teacher}">教师信息管理</a></li>
            <li><a id="questionManage" th:href="@{/search}">留言信息管理</a></li>
        </ul>
    </section>
    <section class="main">
        <select id="deptDrop">
            <option></option>
            <th:block th:each="dept:${DeptList}">
                <option th:text="${dept.Dname}" th:value="${dept.Did}"></option>
            </th:block>
        </select>
        <table id="courseTable">
        </table>
        <div>
            <p>添加课程信息</p>
            课程号：<input type="text" name="Cid" id="Cid"><br>
            课程名：<input type="text" name="Cname" id="Cname"><br>
            课程信息：<input type="text" name="Cinfo" id="Cinfo"><br>
            <button id="addCourse">添加</button>"
        </div>
    </section>
    <section class="right">
        <h3></h3>
        <ul>
            <li>html</li>
            <li>html1</li>
            <li>html2</li>
            <li>html3</li>
            <li>html4</li>
        </ul>
    </section>
</div>
<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/managePage.js}"></script>
</body>
</html>