<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body class="body">
<header class="head">
    <div style="float: right;margin-right: 0;margin-top: 0">
        <th:block th:if="${session.USER}==null">
            <a href="/login" th:href="@{/login}">登录</a>
        </th:block>
        <th:block th:if="${session.USER}!=null">
            <th:block th:if="${session.iden}=='iden_admin'">
                <div>
                    <span th:text="${session.USER}+' 您好，'"></span>
                    <a href="/manage" th:href="@{/manage}">管理</a>
                    <a th:href="@{/logout}">退出</a>
                </div>
            </th:block>
            <th:block th:if="${session.iden}=='iden_teacher'">
                <div>
                    <a th:href="@{/teacher(Tid=${session.USER.Tid})}"><span th:text="${session.USER.Tname}"></span></a><span th:text="' 老师您好，'"></span>
                    <span th:text="${UnansweredNum}+' 条未回答问题'"></span>
                    <a th:href="@{/logout}">退出</a>
                </div>
            </th:block>
            <th:block th:if="${session.iden}=='iden_student'">
                <div>
                    <a th:href="@{/student(Sid=${session.USER.Sid})}"><span th:text="${session.USER.Sname}"></span></a><span th:text="' 同学您好，'"></span>
                    <span th:text="${UnreadNum}+' 条新解答'"></span>
                    <a th:href="@{/logout}">退出</a>
                </div>
            </th:block>
        </th:block>
    </div>
</header>
<nav>
    <ul class="nav">
        <li><a th:href="@{/}">首页</a></li>
        <li><a th:href="@{/department}">学院</a></li>
        <li><a th:href="@{/course}">课程</a></li>
        <li><a th:href="@{/teacher}">教师</a></li>
        <li><a th:href="@{/search}">检索</a></li>
    </ul>
</nav>
<div class="content">
    <section class="left">
        <ul>
            <li><a id="deptManage" th:href="@{/manage/dept}">学院信息管理</a></li>
            <li><a id="courseManage" th:href="@{/manage/course}">课程信息管理</a></li>
            <li><a id="teacherManage" th:href="@{/manage/teacher}">教师信息管理</a></li>
            <li><a id="questionManage" th:href="@{/search}">留言信息管理</a></li>
        </ul>
    </section>
<section class="main">
</section>
<section class="right">
</section>
</div>
<script type="text/javascript" th:src="@{/js/lib/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/manage/DeptManagePage.js}"></script>
</body>
</html>