<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>统一登录认证</title>
</head>
<body>
<div align="center" style="margin-top: 20%;">
账号：<input type="text" id="username" name="username"><br>
密码：<input type="password" id="password" name="password"><br>
身份：<input type="radio" id="iden" name="iden" value="iden_admin">管理
<input type="radio" name="iden" value="iden_teacher">教师
<input type="radio" name="iden" value="iden_student" checked="checked">学生<br>
<button id="Login">登录</button>&nbsp;&nbsp;&nbsp;&nbsp;<button id="Register">注册</button>
</div>
<script type="text/javascript" th:src="@{/js/lib/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/Login.js}"></script>
</body>
</html>
