<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>管理</title>
</head>
<body>
<div>
    <p>添加学院信息</p>
    学院号：<input type="text" name="Did" id="Did"><br>
    学院名：<input type="text" name="Dname" id="Dname"><br>
    学院信息：<input type="text" name="Dinfo" id="Dinfo"><br>
    <button id="addDept">添加</button>
</div>
<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/managePage.js}"></script>
</body>
</html>