<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body class="body">
<header class="head">
    <div style="float: right;margin-right: 0;margin-top: 0">
        <th:block th:if="${session.USER}==null">
            <a href="/login" th:href="@{/login}">登录</a>
        </th:block>
        <th:block th:if="${session.USER}!=null">
            <th:block th:if="${session.iden}=='iden_admin'">
                <div>
                    <span th:text="${session.USER}+' 您好，'"></span>
                    <a href="/manage" th:href="@{/manage}">管理</a>
                    <a th:href="@{/logout}">退出</a>
                </div>
            </th:block>
            <th:block th:if="${session.iden}=='iden_teacher'">
                <div>
                    <a th:href="@{/teacher(Tid=${session.USER.Tid})}"><span th:text="${session.USER.Tname}"></span></a><span th:text="' 老师您好，'"></span>
                    <span th:text="${UnansweredNum}+' 条未回答问题'"></span>
                    <a th:href="@{/logout}">退出</a>
                </div>
            </th:block>
            <th:block th:if="${session.iden}=='iden_student'">
                <div>
                    <a th:href="@{/student(Sid=${session.USER.Sid})}"><span th:text="${session.USER.Sname}"></span></a><span th:text="' 同学您好，'"></span>
                    <span th:text="${UnreadNum}+' 条新解答'"></span>
                    <a th:href="@{/logout}">退出</a>
                </div>
            </th:block>
        </th:block>
    </div>
</header>
<nav>
    <ul class="nav">
        <li><a th:href="@{/}">首页</a></li>
        <li><a th:href="@{/department}">学院</a></li>
        <li><a th:href="@{/course}">课程</a></li>
        <li><a th:href="@{/teacher}">教师</a></li>
        <li><a th:href="@{/search}">检索</a></li>
    </ul>
</nav>
<div class="content">
    <section class="left">

    </section>
    <section class="main">
        <div>
            <span th:text="${Question.Qtitle}"></span><br>
            <th:block th:if="${AnswerList.isEmpty()}">
                <span>[未解答]</span><br>
            </th:block>
            <br><p th:text="'提问者：'+${Question.Sname}+' 同学'"></p>
            <p th:text="'问题描述：'+${Question.Qtext}"></p>
            <p th:text="'问题时间：'+${Question.Qtime}"></p>
            <th:block th:if="${Question.Qfile}">
                <p>附件：<a th:href="@{${Question.Qhref}}" th:text="点击查看"></a></p>
            </th:block>
            <th:block th:if="${session.iden=='iden_student'}">
                <th:block th:if="${session.USER.Sid==Question.Sid}">
                    <a th:href="@{/edit(Qid=${Question.Qid})}">修改提问</a>
                    <a th:href="@{/deleteQuestion(Qid=${Question.Qid})}">删除提问</a>
                </th:block>
            </th:block>
            <th:block th:if="${session.iden=='iden_admin'}">
                <a th:href="@{/deleteQuestion(Qid=${Question.Qid})} ">删除提问</a>
            </th:block>
        </div>
        <th:block th:if="${!AnswerList.isEmpty()}">
            <th:block th:each="answer:${AnswerList}">
                <div>
                    <p th:text="${answer.Tname}+' 老师：'"></p>
                    <p th:text="${answer.Atext}"></p>
                    <p th:text="${answer.Atime}"></p>
                </div>
            </th:block>
        </th:block>
        <th:block th:if="${session.iden=='iden_teacher'}">
            <th:block th:if="${isAnswerable}">
                <th:block th:if="${!isAnswered}">
                    <span style="float: left">回答：&nbsp;</span><div id="Atext" contenteditable="true" class="qtext"></div><br>
                    <button id="postAnswer" th:value="${Question.Qid}">回答</button>
                </th:block>
            </th:block>
            <th:block th:if="${isAnswerable&&isAnswered}">
                <span>您已回答过该问题</span>
                <button id="editAnswer" th:value="${Question.Qid}">修改</button>
                <button id="deleteAnswer" th:value="${Question.Qid}">删除</button>
                <div id="editForm"></div>
            </th:block>
        </th:block>
    </section>
    <section class="right">
    </section>
</div>
<script type="text/javascript" th:src="@{/js/lib/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/question/question.js}"></script>
</body>
</html>