<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>学生注册</title>
</head>
<body>
<div align="center" style="margin-top: 20%;">
    学院：
    <select id="Did">
        <option></option>
        <th:block th:each="dept:${DeptList}">
            <option th:value="${dept.Did}" th:text="${dept.Dname}"></option>
        </th:block>
    </select>
    年份：
    <select id="Syear">
        <option></option>
        <option>2018</option>
        <option>2017</option>
        <option>2016</option>
    </select><br>
    学号：<input type="text" id="Sid"><br>
    姓名：<input type="text" id="Sname"><br>
    密码：<input type="password" id="Spsw"><br>
    <button id="Register">注册</button>&nbsp;&nbsp;&nbsp;&nbsp;<button id="Login">返回登录</button>
</div>
<script type="text/javascript" th:src="@{/js/lib/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/Register.js}"></script>
</body>
</html>
