<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/index.css}" rel="stylesheet" />
</head>

<body class="body">
<header class="head">
    <div style="float: right;margin-right: 0;margin-top: 0">
        <th:block th:if="${session.username}==null">
            <a href="/login" th:href="@{/login}">登录</a>
        </th:block>
        <th:block th:if="${session.username}!=null">
            <th:block th:if="${session.iden}=='iden_admin'">
                <div>
                    <span th:text="${session.username}"></span>您好，
                    <a href="/manage" th:href="@{/manage}">管理</a>
                    <a th:href="@{/logout}">退出</a>
                </div>
            </th:block>
        </th:block>
    </div>
</header>
<nav class="nav">
    <ul>
        <li><a href="/" th:href="@{/}">首页</a></li>
        <li><a href="/" th:href="@{/department}">学院</a></li>
        <li><a href="/" th:href="@{/search}">查看所有留言</a></li>
        <li style="float: right">
            <input type="text" id="searchParam" name="search">
            <select name="searchType" id="searchType">
                <option></option>
                <option>学院</option>
                <option>专业</option>
                <option>课程</option>
                <option>教师</option>
                <option>内容</option>
            </select>
            <button id="searchButton">搜索</button>
        </li>
    </ul>
</nav>
<div class="content">
    <section class="left">

    </section>
    <section class="main">
        <th:block th:each="question:${session.QuestionList}">
            <div style="background-color: #ccc;">
                <a th:href="@{/question(Qid=${question.Qid})}"><h3><span th:text="${question.Qtitle}"></span></h3></a>
                <p th:text="${question.Qtext}"></p>
            </div>
        </th:block>
    </section>
    <section class="right">
        <h3>xxx</h3>
        <ul>
            <li>xxx</li>
        </ul>
    </section>
</div>
</body>
</html>