<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body class="body">
<header class="head">
    <div style="float: right;margin-right: 0;margin-top: 0">
        <th:block th:if="${session.USER}==null">
            <a href="/login" th:href="@{/login}">登录</a>
        </th:block>
        <th:block th:if="${session.USER}!=null">
            <th:block th:if="${session.iden}=='iden_admin'">
                <div>
                    <span th:text="${session.USER}+' 您好，'"></span>
                    <a href="/manage" th:href="@{/manage}">管理</a>
                    <a th:href="@{/logout}">退出</a>
                </div>
            </th:block>
            <th:block th:if="${session.iden}=='iden_teacher'">
                <div>
                    <a th:href="@{/teacher(Tid=${session.USER.Tid})}"><span th:text="${session.USER.Tname}"></span></a><span th:text="' 老师您好，'"></span>
                    <span th:text="${UnansweredNum}+' 条未回答问题'"></span>
                    <a th:href="@{/logout}">退出</a>
                </div>
            </th:block>
            <th:block th:if="${session.iden}=='iden_student'">
                <div>
                    <a th:href="@{/student(Sid=${session.USER.Sid})}"><span th:text="${session.USER.Sname}"></span></a><span th:text="' 同学您好，'"></span>
                    <span th:text="${UnreadNum}+' 条新解答'"></span>
                    <a th:href="@{/logout}">退出</a>
                </div>
            </th:block>
        </th:block>
    </div>
</header>
<nav>
    <ul class="nav">
        <li><a th:href="@{/}">首页</a></li>
        <li><a th:href="@{/department}">学院</a></li>
        <li><a th:href="@{/course}">课程</a></li>
        <li><a th:href="@{/teacher}">教师</a></li>
        <li><a th:href="@{/search}">检索</a></li>
    </ul>
</nav>
<div class="content">
    <section class="left">
        <ul>
            <th:block th:if="${session.iden!=null}">
                <th:block th:if="${session.iden=='iden_student'}">
                    <li><a href="/ask"><h3>我要提问</h3></a></li>
                </th:block>
            </th:block>
            <th:block th:if="${session.iden==null}">
                <li><a href="/ask"><h3>我要提问</h3></a></li>
            </th:block>
        </ul>
    </section>
    <section class="main">
        <th:block th:if="${DeptList!=null}">
            学院归属：
            <select id="deptDrop">
                <option></option>
                <th:block th:each="dept:${DeptList}">
                    <option th:value="${dept.Did}" th:text="${dept.Dname}"></option>
                </th:block>
            </select><br>
            <ul id="teacherTable"></ul>
        </th:block>
        <th:block th:if="${Teacher!=null}">
            <h4 th:text="${Teacher.Tname}"></h4>
            <span th:text="${Teacher.Dname}+'/'+${Teacher.Tlevel}"></span><br>
            <span th:text="'简介：'+${Teacher.Tinfo}"></span>
        </th:block>
        <th:block th:if="${TeachList!=null}">
            <br><br><span>授课列表：</span>
            <ul>
                <th:block th:each="teach:${TeachList}">
                    <li><a th:href="@{/course(Cid=${teach.Cid})}" th:text="${teach.Cname}"></a></li>
                </th:block>
                <th:block th:if="${session.iden=='iden_admin'&&editable}">
                    <select id="courseDrop">
                        <option></option>
                        <th:block th:each="course:${AllCourseList}">
                            <option th:text="${course.Cname}" th:value="${course.Cid}"></option>
                        </th:block>
                    </select>
                    <button id="addTeach" th:value="${Teacher.Tid}">添加</button>
                </th:block>
            </ul>
        </th:block>
        <th:block th:if="${AnswerList!=null}">
            回答了问题：<br>
            <th:block th:each="answer:${AnswerList}">
                <div>
                    <a th:href="@{/question(Qid=${answer.Qid})}"><span th:text="${QuestionMap[answer.Qid].Qtitle}"></span></a><br>
                    <span th:text="'回答：'+${answer.Atext}"></span>
                </div>
            </th:block>
        </th:block>
        <th:block th:if="${isMine}">
            待回答：
            <th:block th:each="question:${UnansweredList}">
                <div>
                    <a th:href="@{/question(Qid=${question.Qid})}"><h4><span th:text="${question.Qtitle}"></span></h4></a><br>
                    <p><span th:text="'提问者: '+${question.Sname}+' 同学'"></span></p>
                    <p><span th:text="'Tag: '+${question.Dname}+' '+${question.Cname}"></span></p>
                </div>
            </th:block>
        </th:block>
    </section>
    <section class="right">
    </section>
</div>
<script type="text/javascript" th:src="@{/js/lib/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/nav/teacher.js}"></script>
</body>
</html>